<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/simple-grid.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<header>

    <nav>
        <h3>Registrations Webapp</h3>
    </nav>

</header>
<div class="body-start"></div>
{{{body}}}

</html>