<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/simple-grid.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>

    <nav>

        <br>
        <div class="strip"></div>
        <h2>Registrations Webapp</h2>

    </nav>


</header>
<div class="body-start"></div>
{{{body}}}
<footer class="center">
    <p>Made with
        <span id="love"></span> by Vusi</p>
</footer>

</html>