<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/simple-grid.min.css">
</head>


<header>
    <div class="row center">
        <div class="col-12">
            <nav>
                <h1>NAVIGATION</h1>
            </nav>

        </div>

    </div>
</header>

{{{body}}}

</html>