<body>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 center">
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row center">
        <div class="col-12">
            <h4 class={{status}}>{{messages.info}}</h4>
        </div>
    </div>
    <div class="row center inblock">

        <div class="col-12">
            <form id="numberPlateForm" class="numberPlateForm" method="POST" action="/registrations">
                <input class='center .blue-on-hover' name="regEntered" id="inputBox" type="console.text" placeholder="Enter number plate here"
                    required="required" pattern="[A-Za-z0-9 ]+" maxlength="11" title="please only enter alphanumeric characters">
                <button class=".blue-on-hover" id="addButton" type="submit" form="numberPlateForm">
                    Add
                </button>
            </form>

        </div>

    </div>
    </div>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2 " id="addBtn">
        </div>
        <div class="col-5"></div>

    </div>

    <div class="row inblock">
        <div class="center col 12">
            <form class="form-input" method="GET" action="/displayPlates">
                <label class="label">Filter by Town</label>
                <br>
                <select class="" name="town">
                    <option value="allTowns">
                        All Towns
                    </option>
                    <option value="CA">CapeTown (CA)</option>
                    <option value="CY">Bellville (CY)</option>
                    <option value="CW">Worcester (CW)</option>
                    <option value="CL">Stellenbosch (CL)</option>
                    <option value="CAW">George (CAW)</option>
                    <option value="CEO">Grabouw (CEO)</option>
                    <option value="CFR">Kuilsrivier (CFR)</option>
                </select>
                &nbsp; &nbsp;
                <button id='filterButton' type="submit">
                    Apply filter
                </button>
            </form>

        </div>
    </div>
    <div class="row">

        <div class="col-2"></div>

        <div class="col-8 plates-area center">
            <ul id="numberPlates" class="">

                {{#each this.regs}}
                <li>{{this.registration}}</li>
                {{/each}}
            </ul>

        </div>

        <div class="col-2"></div>
    </div>