.center {
    text-align: center;
}

nav {
    height: 150px;
    width: 100%;
    color: white;
    background: black;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 1;
}

.inblock {
    display: inline-block;
}

/* ============================custom css=========================================== */
.center {
    text-align: center;
}

li {
    color: #333447;
    border: 2px solid black;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: silver;
    text-align: center;
    font-size: 19px;
    margin: 10px 10px;
    display: inline-block;
    float: left;
}

input:focus,
button,
select,
input:active {
    outline: none !important;
    box-shadow: none;
}

#inputBox {
    border: 2px solid darkslategray;
    width: 40%;
    min-width: 300px;
    height: 50px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-transform: uppercase;
    margin-right: 20px;
}

#addButton {
    color: #333447;
    border: 2px solid darkslategray;
    width: 150px;
    height: 50px;
    background-color: white;
    border-radius: 9px;
}

#addButton:hover,
#inputBox:hover,
#filterButton:hover,
select:hover {
    background-color: darkturquoise;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

#filterButton,
select {
    color: #333447;
    border: 2px solid #333447;
    width: 105px;
    height: 40px;
    background: white;
    border-radius: 9px;
}

ul {
    list-style-type: none;
}

.warning {
    color: red
}

.success {
    color: green
}

.body-start {
    margin-top: 150px;
}

.form-input {
    position: relative;
    right: -25px;
}

.numberPlateForm {
    position: relative;
    left: 70px;
}

.strip {
    /* position: fixed; */
    /* bottom: 0; */
    height: 5px;
    width: 100%;
    background: darkturquoise;
}

#love::before {
    content: '\2665';
}

#love {
    color: red;
    font-size: 24px;
}

footer {
    z-index: 1;
    background: white;
}

form {
    width: 95%;
}

.plates-area {
    /* background: gray; */
    /* margin-top: 80px; */
    /* border: 1px solid black; */
    width: 100%;
    height: 40%;
    /* matcth the height with the card height after making card */
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

/* Media queries*/
@media only screen and (max-width: 490px) {
    .plates-area {
        position: relative;
        right: 13px;
    }

    body {
        /* background-color: lightblue; */
    }

    #inputBox {
        margin-right: 12px;
    }

    #addButton {
        color: #333447;
        border: 2px solid darkslategray;
        width: 150px;
        height: 50px;
        background-color: white;
        position: relative;
        top: 31px;
        right: 6px;
        border-radius: 9px;
    }

    .form-input {
        position: relative;
        left: 8px;
    }

    .numberPlateForm {
        position: relative;
        left: 17px;
    }

    .body-start {
        margin-top: 80px;
    }
}

a {
    text-decoration: none;
    color: white;
}

select option {
    background: white;
    font-size: 16px;
    border: none;
    /* padding: 10px !important; */
}

@media only screen and (max-width: 360px) {
    .plates-area {
        position: relative;
        left: 50px;
    }
}